.navbar{
    background-color:#e98f8eea;
    margin-bottom: 5%;
    font-size: 1.1rem;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 600;
}
.nav-item{
    margin-right: 5px;
}
.nav-link{
    border-radius: 5px;
}
.nav-link:hover{
    background-color: #d35657;
    border-radius: 5px;
}
.btn{
    color: #fff;
}
.btn:hover{
    color: #fff;
}
.btn-primary{
    background-color: #e98f8eea;
    border: none;
}
.btn-primary:hover{
    background-color: #d35657;
    border: none;
    box-shadow: none;
}
.btn-primary:focus{
    background-color: #e98f8eea;
    border: none;
    box-shadow: none;
}
.btn-primary:focus:active{
    background-color: #d35657;
    border: none;
    box-shadow: none;
}
.form-select:focus{
    border: none;
    box-shadow: 0 0 0 .25rem #e98f8e7e ;
}
.form-select:hover{
    border: 1px solid #9b9ea0;
}
.form-control:focus{
    border: none;
    box-shadow: 0 0 0 .25rem #e98f8e7e ;
}
.form-control:hover{
    border: 1px solid #9b9ea0;
}

.form-label{
    font-weight: 700;
    color: #363636;
}
.table{
    font-weight: 600;
    color: #333232e0;
}
.table-borderless{
    margin-bottom: 14%;
}
